<div id="params">
  <%= form_for(@job, :html => { :multipart => true, :id => 'job_form'}) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :job_name, :value => @job.job_name || ""  -%>  
    <%= f.label 'Title' %>
  </div>  
  <div class="field">    
    <%= f.text_field :job_description, :value => @job.job_description || "" -%>
    <%= f.label 'Description' %>
  </div>
  <div class="field">    
    <%= f.text_field :inputurl, :value => @job.inputurl || "" -%>
    <%= f.label 'Input file URL' %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>

  <%= f.fields_for :parameters do |p| %>

  <br><b>Tile size (pixels)</b><br>
  <div class="field">
    <%= p.text_field :tile_size, :value => @job.parameters['tile_size'] -%>
  </div>

  <% end -%>  

  <br>Click the button below to submit the values for your analysis:
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>

<% end %>
<p>For more information about public and private jobs, please refer to the <a href="/faq#private">FAQ</a>.</p>
</div>


