<h1><%= @title -%> - <%= @type -%></h1>

<%= @text.html_safe -%>

<% if @type == 'left' -%>
  <%= render 'form_left' %>
<% elsif @type == 'csm' -%>
  <%= render 'form_csm' %>
<% elsif @type == 'beast' -%>
  <%= render 'form_beast' %>
<% else -%>
  <%= render 'form' %>
<% end -%>


<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
